*,
*::before,
*::after {
	box-sizing: border-box;
}
/* * {
	margin: 0;
	padding: 0;
	font: inherit;
} */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

button,
textarea,
select {
	outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
.container {
	width: 100%;
	max-width: 1440px !important;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 100px;
}
/* @media screen and (max-width: 1023px) {
	.container {
	  padding-left: 10px !important;
	  padding-right: 10px !important;
	}
  } */
  
  @media screen and (max-width: 767px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	
}
@media (min-width: 768px) and (max-width: 1023px) {
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}

	
}